<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:lang="http://www.springframework.org/schema/lang"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location">
			<value>classpath:evm.properties</value>
		</property>
	</bean>
	<bean id="gmampconf_sys" class="org.evm.biz.sys.SystemConfig">
		<property name="serverName" value="${serverName}"></property>
		<property name="loginPage" value="${loginPage}"></property>
		<property name="mainPage" value="${mainPage}"></property>
		<property name="systemId" value="${systemId}"></property>
		
		<property name="dbName" value="${backUpdbName}"></property>
		<property name="dbIp" value="${dbIp}"></property>
		<property name="dbPort" value="${dbPort}"></property>
	</bean>
</beans>
