<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:lang="http://www.springframework.org/schema/lang"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"
		destroy-method="close">
		<property name="driverClass" value="com.mysql.jdbc.Driver" />
		<!-- <property name="driverClass" value="com.mysql.cj.jdbc.Driver" /> -->

		<!-- <property name="jdbcUrl"
			value="jdbc:mysql://127.0.0.1:3306/evm?serverTimezone=UTC&amp;useUnicode=true&amp;characterEncoding=utf-8&amp;autoReconnect=true&amp;failOverReadOnly=false&amp;useSSL=false" />
		<property name="user" value="root" />
		<property name="password" value="sa123456" /> -->
		  <property name="jdbcUrl" value="jdbc:mysql://10.44.26.19:3306/evm?serverTimezone=UTC&amp;useUnicode=true&amp;characterEncoding=utf-8&amp;autoReconnect=true&amp;failOverReadOnly=false&amp;useSSL=false" 
			/> <property name="user" value="root" /> <property name="password" value="Qmgps2008@123" 
			/>  
		<property name="initialPoolSize" value="10" />
		<property name="minPoolSize" value="10" />
		<property name="maxPoolSize" value="50" />
		<property name="acquireIncrement" value="5" />
		<property name="maxIdleTime" value="10" />
		<property name="maxStatements" value="100" />
	</bean>
</beans>
