/*create by xh 2016-09-20  */

.loading-indicator {
	height: 80px;
	width: 80px;
	background: url('./../images/loading.gif');
	background-repeat: no-repeat;
	background-position: center center;
}

.loading-indicator-overlay {
	background-color: #FFFFFF;
	opacity: 0.6;
	filter: alpha(opacity = 60);
}
 
.redTd_class {
	height: 50px;
	width: 25%;
	background-color: #E7191B;
	padding-left: 5px
}
.redTd_class:hover{
    background-color: #ff9393 ;
}
.yellowTd_class {
	height: 50px;
	width: 25%;
	background-color: #F2AE43;
	padding-left: 5px
}
.yellowTd_class:hover{
    background-color: #f8cd8d ;
}
.blueTd_class {
	height: 50px;
	width: 25%;
	background-color: #28A9E3;
	padding-left: 50px
}
.blueTd_class:hover{
    background-color: #a3dbf3 ;
}
.purpleTd_class {
	height: 50px;
	width: 25%;
	background-color: #C180E6;
	padding-left: 5px
}
.purpleTd_class:hover{
    background-color: #d7adef ;
}
.greenTd_class {
	height: 50px;
	width: 25%;
	background-color: #28B779;
	padding-left: 5px
}
.greenTd_class:hover{
    background-color: #67deab ;
}
/* 褰╄壊妗嗗唴鍥剧墖 锛屾暟瀛楋紝鏂囧瓧 */
.td_img_div_class {
	float: left;
	width: 40%;
	padding-top: 1px;
}

.td_digit_div_class {
	text-align: center;
	color: white;
	height: 35px;
	padding-top: 10px
}

.td_char_div_class {
	text-align: center;
	color: white;
	height: 15px;
	padding-top: 4px
}
 
.toolbar {
	height: 47px;
	background-color: #060192;
}

.toolbar div {
	float: right;
	width: 44px;
	height: 36px;
	margin: 2px;
}
.toolbar div a img{
	border:0 none;
}
.toolbar_title {
	float: left;;
	background-color: #060192;
	color: white;
	font-size: 18px;
	width: 80px;
	height: 20px;
	padding-left: 30px;
	padding-top: 10px;
}
 
.input_table {
	font-size: 18px;
	border: 1px solid #ccc;
	padding-left: 20px;
	border-collapse: collapse;
	border: none;
}

.input_table tr {
	height: 30px;
	border: 1px solid #ccc;
	border-collapse: collapse;
}

.input_table td {
	border: solid #ccc 1px;
	font-size:10px;
}

.input_table input {
	height: 30px;
}

.icon_device_add {
	background: url('./../images/addCheck.jpg') no-repeat center center;
}

.icon_device_delete {
	background: url('./../images/subtractCheck.jpg') no-repeat center center;
}

.icon_order_dispatcher {
	background: url('./../images/web_button_14.png') no-repeat center center;
}

.icon_order_edit {
	background: url('./../images/web_button_14.png') no-repeat center center;
}

.icon_order_delete {
	background: url('./../images/web_button_14.png' ') no-repeat center
		center;
}

.redStar {
	color: #ff4500;
}

.line-mid {
	text-align: center;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #E2E2E2;
	border-right-color: #E2E2E2;
	border-bottom-color: #E2E2E2;
	border-left-color: #E2E2E2;
}
 

.icon-ext-grid {
	background: url('../images/grid.png' ) no-repeat center center;
}